@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default, dark;
   /* themes: light --default, dark --prefersdark, cupcake, aqua, abyss; */
 }

 @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #0d7774;
  --color-secondary:#ee689d;
  --color-accent: #dc7418;
  --color-info: #041f20;
  --color-base-300: #edfdfd;
}
 @plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #88f2ee;
  --color-secondary: #971147;
  --color-accent: #e77e23;
  --color-info: #dffafb;
  --color-background: #021212;
}

.font_urbanist {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}




